doctype html
html
	include inc/head.pug
	body
		.container
			include inc/sidebar.pug
			.content
				#editor
				script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js" charset="utf-8")
				script(src="js/editor.js" charset="utf-8")
				script(src="js/objectives.js" charset="utf-8")
				script.
					!{ lessonJS }

		
