doctype html
html
	include inc/head.pug
	body
		.container
			include inc/sidebar.pug
			.content
				h2 P5.JS Starter Projects
				.link-boxes
					.link-box
						h3 CodePen.io Examples
						ol
							li: a(href='https://codepen.io/villagecoding/pen/YVjEQM' target="_blank") Blank Canvas
							li: a(href='https://codepen.io/villagecoding/pen/dVzwwp' target="_blank") Add Color
							li: a(href='https://codepen.io/villagecoding/pen/VMzRbq' target="_blank") Built in Variables
							li: a(href='https://codepen.io/villagecoding/pen/veJPPB' target="_blank") Make Your Own Variables
					
					.link-box
						h3 Games
						ol
							li: a(href='/sketches/snake' target="_blank") Snake
							li: a(href='/sketches/tetris' target="_blank") Tetris
					
		
