doctype html
html
	include inc/head.pug
	body
		.container
			include inc/sidebar.pug
			.content
				h1 P5.JS Playground
				ol
					li
						a(href='https://youtu.be/9mucjcrhFcM') The Coding Train Videos
					li
						a(href='https://codepen.io/villagecoding/pen/YVjEQM') Blank Canvas
					li
						a(href='https://codepen.io/villagecoding/pen/dVzwwp') Add Color
					li
						a(href='https://codepen.io/villagecoding/pen/VMzRbq') Built in Variables
					li
						a(href='https://codepen.io/villagecoding/pen/veJPPB') Make Your Own Variables
					
		
