.sidebar
	h1
		a(href="/") Code
	.dropdown
		a.nav-toggle(href="#") &#9776;
		.dropdown-content
			each lesson in lessons
				if file === lesson
					a(href=lesson.dest.replace('/public', '')).active= lesson.text
				else
					a(href=lesson.dest.replace('/public', ''))= lesson.text
