.sidebar
	h1
		a(href="/") Code
	.dropdown
		a.nav-toggle(href="#") &#9776;
		.dropdown-content
			each lesson in lessons
				- var url = '/' + lesson.filename + '.html';
				if thisLesson === lesson
					a(href=url).active= lesson.text
				else
					a(href=url)= lesson.text
