.sidebar
	h1
		a(href="/") Code
	.dropdown
		a.nav-toggle(href="#") &#9776;
		.dropdown-content
			- var step = 360 / lessons.length;

			each lesson, i in lessons
				-
					var url = '/' + lesson.filename + '.html';
					var hue = (i % 2 === 0) ? i * step : (i * (step - 1) + 180) % 360;
					var color = 'color: hsl(' + hue + ', 100%, 70%);';
					
				a(href=url style=color class=(thisLesson === lesson) ? 'active' : '')= lesson.text
			a(href="p5.html") p5.js
